[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Indicator"]
	path = Indicator
	url = https://github.com/gianmarcoborrata/indicator
